:root {
  --bg: #f2f2f2;
  --primary: #17a759;
  --secondary: #8bf0b8;
  --ternary: #02813c;
  --textColor: #131313;
}

* {
  font-family: "Inter", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  text-decoration: none;
}

body {
  background-color: var(--bg);
  color: var(--textColor);
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.6rem 7%;
  top: 2rem;
  right: 7%;
  left: 7%;
  position: fixed;
  z-index: 999;
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(5px);
  border-radius: 10rem;
  border: 1px solid rgba(255, 255, 255, 0.3);
}

.navbar .navbar-logo {
  width: 8rem;
  height: 3rem;
}

.navbar .navbar-logo img {
  padding-top: 0.5rem;
}

.navbar .navbar-nav a {
  color: var(--textColor);
  display: inline-block;
  margin: 0 1rem;
  font-size: 1rem;
}

.navbar a {
  color: var(--textColor);
}

.navbar .navbar-nav a:hover {
  color: var(--primary);
}

.navbar .navbar-nav a::after {
  content: "";
  display: block;
  padding-bottom: 0.5rem;
  border-bottom: 0.1rem solid var(--primary);
  transform: scaleX(0);
  transition: 0.2s linear;
}

.navbar .navbar-nav a:hover::after {
  transform: scaleX(0.5);
}

.navbar #ham-menu {
  color: var(--textColor);
  margin: 0 1rem;
  display: inline-block;
  display: none;
}

.navbar #ham-menu a:hover {
  color: var(--primary);
}

/* Hero Section */
.container_comingsoon img {
  width: 100%;
  height: 100vh;
}
.Hero_Section {
  position: relative;
}

.Hero_Section .grid {
  position: absolute;
  z-index: -9;
  left: 7rem;
}

.Hero_Section .gradasi {
  position: absolute;
  z-index: -9;
}

.Hero_Section .grid img {
  width: 100%;
}
.Hero_Section .gradasi img {
  width: 100%;
}

.Hero_Section .container_hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 7%;
}

.Hero_Section .container_hero .keterangan p {
  padding: 0.8rem 0;
  font-weight: 500;
}

.Hero_Section .container_hero .keterangan h1 {
  line-height: 95%;
  font-size: 3rem;
  font-weight: 600;
}

.container_hero .keterangan a {
  color: var(--bg);
  padding: 0.5rem 1rem;
  background-color: var(--primary);
  border-radius: 0.6rem;
  display: inline-flex;
  align-items: center;
}

.Hero_Section .hero_extra {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(2, 129, 60, 0.7);
  color: var(--bg);
  margin: 0 15%;
  padding: 1rem 2.5rem;
  border-radius: 3rem;
  position: absolute;
  top: 33rem;
  left: -3rem;
  width: 65rem;
}

/* About Section */

.About_section h2 {
  font-size: 3rem;
  color: var(--textColor);
  padding-bottom: 1.5rem;
  font-weight: 800;
}

.About_section p {
  font-weight: 500;
}

.About_section .about_section_satu {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 2rem 7%;
}

.About_section .image_about {
  padding-right: 2.5rem;
}

.About_section .about_section_dua {
  margin: 5rem 7% 1.5rem 7%;
  text-align: center;
}

.kategori {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 18rem);
  gap: 1.2rem;
  text-align: left;
  margin-top: 2.5rem;
}

.kategori h3 {
  font-size: 1.5rem;
}

.kategori p {
  font-size: 0.75rem;
}

.kategori a {
  color: var(--textColor);
  display: inline-flex;
  margin-top: 0.8rem;
}

.kategori .Kategorikal {
  background-color: rgba(23, 167, 89, 0.1);
  padding: 10rem 1.25rem 1.25rem 1.25rem;
  border-radius: 1.25rem;
}

.About_section .about_section_tiga {
  margin: 5rem 7% 1rem 7%;
  text-align: center;
}

.about_section_tiga .galery_evolope {
  display: flex;
  justify-content: center;
  align-items: center;
}

.about_section_tiga .galery_evolope .medium img {
  width: 13.75rem;
  height: 15.65rem;
  border-radius: 1.25rem;
  border: 0.2rem solid var(--primary);
}
.about_section_tiga .galery_evolope .large {
  width: 18.75rem;
  height: 22rem;
  background-image: url(../IMG/About3_mid.jpg);
  margin: 2.5rem 1.25rem 2.5rem 1.25rem;
  border-radius: 1.25rem;
  padding-top: 16rem;
  border: 0.2rem solid var(--primary);
}

.about_section_tiga .galery_evolope a {
  color: var(--bg);
  padding: 0.75rem 0.75rem;
  background-color: var(--primary);
  border-radius: 0.6rem;
  display: inline-flex;
  align-items: center;
}

/* Artikel Section */
.artikel_container {
  margin: 5rem 7% 1.5rem 7%;
  text-align: center;
}

.artikel_container a {
  color: var(--bg);
  background-color: var(--primary);
  padding: 1rem 2rem;
  display: inline-flex;
  margin-top: 2rem;
  border-radius: 1rem;
  align-items: center;
  font-weight: 600;
}

.artikel_container h2 {
  font-size: 3rem;
  color: var(--textColor);
  padding-bottom: 1.5rem;
  font-weight: 800;
}

.artikel_container p {
  font-weight: 400;
  font-size: 1rem;
}

.content_artikel {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  margin-top: 2.5rem;
}

.content_artikel .artikel img {
  width: 35.5rem;
  height: 23rem;
  border-radius: 1rem;
}

.content_artikel .artikel::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  mix-blend-mode: multiply;
  pointer-events: none;
  border-radius: 1rem;
}

.content_artikel .artikel {
  position: relative;
  display: inline-block;
  width: 35.5rem;
  height: 23rem;
  border-radius: 1rem;
}

.content_artikel .artikel .Desk {
  position: absolute;
  top: 10rem;
  left: 2rem;
  right: 2rem;
  text-align: left;
  color: var(--bg);
  z-index: 5;
}

.content_artikel .artikel .Desk h3 {
  font-size: 1.5rem;
  line-height: 110%;
}

.content_artikel .artikel .Desk p {
  font-size: 0.75rem;
  font-weight: 400;
}

.content_artikel .artikel a {
  color: var(--bg);
  padding: 0.5rem 1rem;
  background-color: var(--primary);
  border-radius: 0.6rem;
  display: inline-flex;
  align-items: center;
  font-size: 0.75rem;
  margin-top: 0.7rem;
  font-weight: 600;
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.8);
}

.artikel .Desk .caption span {
  color: var(--primary);
  font-weight: 700;
  font-size: 0.75rem;
}

/* Contact Section Start */
.contact_container {
  margin: 5rem 7%;
  background-color: #e8f6ee;
  height: 18rem;
  position: relative;
  padding: 3.5rem 3rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  border-radius: 2rem;
}

.contact_container img {
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 100%;
  border: 0.2rem solid var(--primary);
}

.contact_container h2 {
  font-size: 3rem;
  font-weight: 800;
  color: var(--textColor);
}

.contact_container .Ryan_permana {
  position: absolute;
  left: 5.5rem;
}

.contact_container .container_medsos {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.container_medsos .medsos h3 {
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--textColor);
}

.kategori_medsos a {
  display: inline-flex;
  align-items: center;
  font-size: 1.3rem;
  font-weight: 500;
  color: var(--textColor);
  margin-top: 0.3rem;
  gap: 0.5rem;
}

/* Footer */
.footer_container {
  margin: 6rem 3% 2rem 3%;
  display: flex;
  justify-content: space-between;
  gap: 2rem;
}

.footer_container h3 {
  color: var(--textColor);
  font-size: 1rem;
  font-weight: 800;
}

.footer_container a {
  color: var(--textColor);
}

.left .copyright img {
  width: 9rem;
  height: 2.5rem;
}

.footer_container .left {
  width: 30rem;
  font-weight: 400;
  color: var(--textColor);
}

.footer_container .left .copyright {
  display: inline-flex;
  align-items: center;
}

.container_mid {
  width: 30rem;
}

.container_mid .mid_container {
  display: flex;
  color: var(--textColor);
  margin-bottom: 1rem;
}

.mid_container .left {
  width: 8rem;
}

.container_mid .mid_container a {
  display: block;
}

.container_right .input_user input {
  border: 2px solid rgba(0, 0, 0, 0.5);
  width: 10rem;
  height: 2.5rem;
  border-radius: 0.5rem;
  padding: 0 0.5rem;
  background-color: #f4f4f4;
  margin-bottom: 0.5rem;
}

.container_right a {
  color: var(--bg);
  padding: 0.5rem 1rem;
  background-color: var(--primary);
  border-radius: 0.6rem;
  align-items: center;
  font-size: 0.75rem;
  margin-top: 0.7rem;
  font-weight: 600;
}

/* Media Queri */

/* Laptop */

@media (max-width: 1200px) {
  html {
    font-size: 80%;
  }
}

/* Tablet */

@media (max-width: 768px) {
  html {
    font-size: 62.5%;
  }
  img {
    width: 90%;
    height: 90%;
  }

  .content_artikel {
    display: block;
    margin: 1rem auto;
  }

  .medsos {
    padding: 2rem;
  }

  .contact_container {
    height: 25rem;
  }

  .Hero_Section .container_hero {
    display: block;
  }

  .container_hero .keterangan {
    padding: 10rem 0;
    text-align: center;
  }

  .container_hero .background_image img {
    display: none;
  }

  .Hero_Section .hero_extra {
    width: 65rem;
    top: 25rem;
    left: -6rem;
  }

  .Hero_Section .grid {
    left: 0rem;
  }
  .Hero_Section .gradasi {
    left: 0rem;
  }
}

/* Phone */
@media (max-width: 576px) {
  html {
    font-size: 50%;
  }

  img {
    width: 90%;
    height: 90%;
  }

  .icon {
    width: 1.5rem;
    height: 1.5rem;
  }

  .navbar #ham-menu {
    display: inline-block;
  }
  .navbar .navbar-nav {
    position: absolute;
    top: 100%;
    right: -100%;
    background-color: var(--textColor);
    width: 20rem;
    height: 100vh;
  }
  .navbar .navbar-nav.active {
    right: 0;
  }
  .navbar .navbar-nav a {
    color: var(--bg);
    display: block;
    margin: 0.5rem;
    font-size: 1.5rem;
    padding: 0.7rem;
  }
  .navbar .navbar-nav a::after {
    transform-origin: 0 0;
  }
  .navbar .navbar-nav a:hover::after {
    transform: scaleX(0.3);
  }

  .Hero_Section .grid {
    left: 0rem;
  }
  .Hero_Section .gradasi {
    left: 0rem;
  }

  .Hero_Section .container_hero {
    display: block;
  }

  .container_hero .keterangan {
    padding: 10rem 0;
    text-align: center;
  }

  .container_hero .background_image img {
    display: none;
  }

  .Hero_Section .hero_extra {
    width: 55rem;
    top: 25rem;
    left: -4.5rem;
  }

  .content_artikel {
    display: block;
    margin: 1rem auto;
  }

  .contact_container {
    display: block;
    height: 35rem;
  }
  .footer_container .input_user input {
    font-size: 0.5rem;
  }
}
